extends layout

block content
    h1 My todos
    label(for="input-name") Name:
    input#input-name(type="text")
    br
    label(for="input-task") Task:
    input#input-task(type="text")
    br
    button(id="submit-data") Submit
    br
    label(for="search-name") Search:
    input#input-search(type="text")
    br
    button(id="search") Submit
    br
    div#result-container


  
